.DS_Store
.python-version
venv
.vscode/
**/__pycache__/
*.pyc

# local files only
price_forecast.csv
super_graph.json

# Code generation
CodeGenerationTools/GridworksCore/.ssotme/**/*.zfs
CodeGenerationTools/GridworksCore/SassyMQ/
CodeGenerationTools/GridworksCore/SSoT/Airtable.xml
claude/
gw_spaceheat/scratch.ipynb
gw_spaceheat/w_isone_nh*
gw_spaceheat/dw1_isone_nh*
SassyMQ
.idea
.env
tests/.env-gw-spaceheat-test
tests/.certificate_cache
tests/.ci-ca
tmp.csv

.coverage
htmlcov
hacking
scratch*
cook.sh

# ignore output
gw_spaceheat/output/**
!gw_spaceheat/output/**/
!gw_spaceheat/output/**/__init__.py
output/**

# ignore files for managing scheduled home alone jobs
cron_last_day.txt
cron_last_hour.txt
cron_last_minute.txt


layouts/**
