.DS_Store
venv
.vscode/
**/__pycache__/
*.pyc
.ssotme

gw_spaceheat/scratch.ipynb
gw_spaceheat/w_isone_nh*
gw_spaceheat/dw1_isone_nh*
SassyMQ
.idea
.env
tmp.csv

.coverage
htmlcov
hacking

# ignore output
gw_spaceheat/output/**
!gw_spaceheat/output/**/
!gw_spaceheat/output/**/__init__.py
output/**