[Unit]
Description=GridWorks spaceheat service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
Environment=VIRTUAL_ENV=/home/pi/gridworks-scada/gw_spaceheat/venv
Environment=PYTHONPATH=/home/pi/gridworks-scada/gw_spaceheat
Environment=SCADA_RUNNING_AS_SERVICE=1
ExecStart=/home/pi/gridworks-scada/gw_spaceheat/venv/bin/python \
    /home/pi/gridworks-scada/gw_spaceheat/run_scada.py
RestartSec=1
WatchdogSec=20
NotifyAccess=all

[Install]
WantedBy=multi-user.target
