[Unit]
Description=GridWorks spaceheat service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=pi
Environment=VIRTUAL_ENV=/home/pi/gw-scada-spaceheat-python/gw_spaceheat/venv
Environment=PYTHONPATH=/home/pi/gw-scada-spaceheat-python/gw_spaceheat
Environment=SCADA_RUNNING_AS_SERVICE=1
ExecStart=python \
    /home/pi/gw-scada-spaceheat-python/gw_spaceheat/run_scada.py \
    --message-summary
RestartSec=1
WatchdogSec=20
NotifyAccess=all

[Install]
WantedBy=multi-user.target
