[Unit]
Description=Start gwspaceheat2 service if is not running; Designed to catch manually stopping and forgetting to restart service.
After=multi-user.target

[Service]
Type=oneshot
User=pi
ExecStart=/bin/sh -c "/usr/bin/systemctl is-active -q gwspaceheat2 || sudo /usr/bin/systemctl start gwspaceheat2"

[Install]
WantedBy=multi-user.target
