[Unit]
Description=Timer to trigger gwspaceheat2-restart.service, which start gwspaceheat2 if it is not already started.

[Timer]
OnCalendar=*:0/15

[Install]
WantedBy=timers.target