name: Run Python Tests
on:
  push

env:
  PYTHONPATH: gw_spaceheat:$PYTHONPATH
  PYTHON_VERSION: 3.8.6

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r gw_spaceheat/requirements/dev.txt
      - name: copy test_settings
        uses: canastro/copy-file-action@master
        with:
          source: "test/test_settings.py"
          target: "gw_spaceheat/settings.py"
      - name: copy test_dotenv
        uses: canastro/copy-file-action@master
        with:
          source: "test/test_dotenv"
          target: ".env"
      - name: Run tests with pytest under coverage
        run: coverage run --omit gw_spaceheat/settings.py -m pytest
      - name: Upload coverage data
        uses: "actions/upload-artifact@v3"
        with:
          name: coverage-data
          path: ".coverage*"

  coverage_report:
    name: Combine & check coverage.
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: python -m pip install --upgrade coverage[toml]
      - name: Download coverage data.
        uses: actions/download-artifact@v2
        with:
          name: coverage-data
      - name: Report and upload
        run: |
          python -m coverage xml
      - name: Upload coverage report
        uses: codecov/codecov-action@v3.1.0
