name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r gw_spaceheat/requirements/base.txt
          pip install -r gw_spaceheat/requirements/test.txt
      - name: Run tests with pytest
        run: pytest
        env:
          PYTHONPATH: gw_spaceheat:$PYTHONPATH
